.book-a-call-button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 200px;
    height: 97px;
    border-radius: 20px;
    background: #5B9D57 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .slideshow-container {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .slideshow-img {
    position: absolute;
    top: 0;
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow-img:first-child {
    opacity: 1;
  }

  .container {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #5B9D57;
  }
  
  th {
    background-color: #5B9D57;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media only screen and (max-width: 600px) {
    table {
      max-width: 100%;
    }
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  #renusol-logo {
    padding-top: 30%;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    #renusol-logo {
      padding-top: 0;
    }
  }

  .system-images {
    display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
  }

  @media screen and (min-width: 600px) {
    .system-images {
      height: 60vh;
      width: auto;
    }
  }