* {box-sizing:border-box}

.orange {
  color: #E9A85E;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: aliceblue;
  font-size: 15px;
  padding: 10px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: lightgrey;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.info-dot:hover {
  background-color: greenyellow;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.full-container {
    width: 100%
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.info-dot {
    height: 25px;
    width: 25px;
    background-color: lightgreen;
    border-radius: 50%;
}

.dot-position-1 {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 600;
}

.dot-position-1-2 {
  position: absolute;
  left: 40%;
  top: 20%;
  z-index: 600;
}

.dot-position-2 {
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 600;
}

.dot-position-2-2 {
  position: absolute;
  left: 60%;
  top: 40%;
  z-index: 600;
}

.dot-position-3 {
  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 600;
}

.dot-position-3-2 {
  position: absolute;
  left: 80%;
  top: 60%;
  z-index: 600;
}

.dot-position-4 {
  position: absolute;
  right: 20%;
  bottom: 20%;
  z-index: 999;
}

.random-stuff-pos-1 {
  position: absolute;
  left: 60%;
  top: 60%;
  z-index: 999;
}

.hide-custom {
  visibility: hidden;
}

.myDIV:hover + .hide-custom {
  visibility: visible;
}

#show-box {
  border-radius: 15px 50px;
  background: skyblue;
  padding: 20px; 
  width: 200px;
  height: 150px; 
} 

.carousel-inner {
  height: 70vh;
}

@media (max-aspect-ratio: 3/4) {
  .carousel-inner {
    height: 250px;
  }
}

.carousel-button-quote {
  /* background-color: red; Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 398px;
  height: 97px;
  border-radius: 20px;
  position: absolute;
  left: 10%;
  bottom: 6%;
  background: #5B9D57 0% 0% no-repeat padding-box;
  opacity: 1;
}

.carousel-button-quote:hover {
  background: #E9A85E;
  border: 1px solid;
  /* padding: 10px; */
  box-shadow: 5px 10px #888888;
}

.quote_button_text {
  font-size: xx-large;
  color: #FFFFFF;
  opacity: 1;
}

.reduced_quote_button_text {
  display: none;
}

@media (max-aspect-ratio: 3/4) {
  .carousel-button-quote {
    height: 25px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: 10%;
  }

  .reduced_quote_button_text {
    display: block;
    font-size: medium;
    color: #FFFFFF;
    opacity: 1;
  }

  .quote_button_text {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
}

.carousel-button-other {
  background-color: green; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  position: absolute;
  left: 60%;
  bottom: 6%;
}

.why-vs-boxes-container {
  align-content: center;
}

.why-boxes {
  /* border-radius: 25px; */
  border: 2px solid #5B9D57;
  padding: 2.5%;
  width: 20%;
  height: 200px;
  display: table;
  /* width: 250px;
  height: 100px; */
  text-align: center;
  /* border: 1px solid red; */
}

.why-boxes:hover {
  color: white;
  background-color: #5B9D57;
}

.box-heading {
  display: table-cell;
  vertical-align: middle;
}

.why-boxes:hover .box-heading {
  display: none;
}

.why-boxes:hover .box-text-content {
  display: block;
}

@media only screen and (min-width: 600px) {
  .box-float-left {
    position: absolute;
    left: 15%;
  }

  .box-float-center {
    position: absolute;
    left: 40%;
  }

  .box-float-right {
    position: absolute;
    right: 15%;
  }
  .spacing {
    height: 400px;
    display: block;
  }
  .box-spacer-y {
    padding: 150px;
    display: block;
  }
}

@media only screen and (max-width: 600px) {

  .text-center {
    width: -webkit-fill-available;
    text-align: center;
  }

  .why-vs-boxes-container {
    overflow-x: visible;
  }

  .why-boxes {
    width: -webkit-fill-available;
  }
  
  .box-float-left {
    position: relative;
    top: 20px;
  }
  
  .box-float-center {
    position: relative;
    top: 40px;
  }
  
  .box-float-right {
    position: relative;
    top: 60px;
  }
  .spacing {
    height: 200px;
    display: block;
  }
  .box-spacer-y {
    padding: 30px;
    display: block;
  }
}


.box-text-content {
  display: none;
  position: absolute;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%);
}


.box-learn-more {
  position: absolute;
  bottom: 5%;
}

.get-in-touch-container {
  height: 500px;
}

.get-in-touch-image {
  width: 40%;
  position: relative;
  float: left;
}

@media only screen and (max-width: 900px) {
  .get-in-touch-image {
    opacity: 50%;
  }
}

.get-in-touch-text {
  width: 40%;
  height: 100%;
  position: relative;
  float: left;
}

.get-in-touch-header {
  top: 40%;
  position: relative;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

@media (max-aspect-ratio: 3/4) {
  .mySlides img {
    height: 250px;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}